{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body class="bg-gray-400 p-18 items-center flex flex-col gap-5 ">
    <!-- {% for task in tasks %}
        {{task.title}} <br>
        {{task.description}} <br>
    {% endfor %} -->
    {% for task in tasks %}
    <div class="bg-white p-5 rounded-xl w-[335px] justify-between flex flex-col gap-2">
        <div class="flex justify-between items-center">
            <p class="text-green-600 font-bold text-xl {% if task.completed %} line-through {% endif %}">{{task.title}}</p>
            <a href="{% url 'toggle_complete'  task.id %}">
            <i class='bxr  bx-check-circle text-2xl text-blue-500'  ></i></a></div>
        <p class="text-gray-400 font-bold">{{task.description}}</p>
        <hr>
        <div class="flex justify-between">{% if task.completed %}
                <p class="text-red-500 font-bold">completed</p>{% else %}<span class="font-bold text-gray-600">Due, {{task.due_time}} </span><span class ="font-semibold text-gray-500">{{task.due_date}}</span>{% endif %}
                <a href="{% url 'delete' task.id %}">
                <i class='bxr  bx-trash text-red-500 text-2xl'  ></i></a></div>
        
                
                
    </div>
    {% endfor %}
</body>
</html>